header nav {
display: inline-block;
}
nav ul li {
    display: inline-block;
}
.button__size {
    width: 40px;
    height: 40px;
}
.button__color {
    width: 34px;
    height: 34px;
    padding: 3px;
}
.button__color:hover{
    border: 1px solid black;
}
.button__color_white {
    background-color: white;
}
.button__color_black {
    background: black;
}
.button__color_grey {
    background: #AEAEB0;
}
.button__color_purpleLatte {
    background: #BA9BE5;    
}
.button__color_pink {
    background: #E9A0A7;
}
.button__color_orange {
    background: #F8CAB1;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
